<!DOCTYPE html>
<html>
<head>
	<title>Indonesia Game Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
	<script type="text/javascript" src="assets/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
</head>
<body>

<div id="banner">
	<div class="container">
		<header class="header">
				<div class="logo-web">
					<img src="assets/images/materials/logo_igp_white.png" alt="logo web white">
				</div>
		</header>
		<div class="banner-content">
			<div class="slider">
				<div class="slideBan">
					<div class="image-banner">
						<img src="assets/images/contents/1.JPG" alt="content 1">
					</div>
					<div class="clear"></div>
					<div class="desc-banner">
						<h1>Endless run game</h1>
						<p>Endless run game is a game which you move your character from one side of the sreen to the other endlessly</p>
						<a href="#" class="btn-banner">Play Now</a>
					</div>
				</div>
				<div class="slideBan">
					<div class="image-banner">
						<img src="assets/images/contents/1.JPG" alt="content 1">
					</div>
					<div class="clear"></div>
					<div class="desc-banner">
						<h1>Tetris game</h1>
						<p>Tetris game is a game which you move your character from one side of the sreen to the other endlessly</p>
						<a href="#" class="btn-banner">Play Now</a>
					</div>
				</div>

				<button class="prev"><i class="fa fa-angle-left"></i></button>
				<button class="next"><i class="fa fa-angle-right"></i></button>

				<ul class="nav-dots">
			        <li data-index="0" class="active"></li>
			        <li data-index="1"></li>
			    </ul>

			</div>
		</div>
	</div>
</div>

<div class="clear"></div>

<div id="gallery">
	<div class="container-d">
		<div class="gallery-title">
			<h2>Check Out Our <span class="color-red">awesome</span> Games</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<div class="vid-gal">
			<video class="video-gallery" controls>
			  <source src="assets/videos/1.MP4" type="video/mp4">
			</video>
			<div class="picture-gallery">
				<div class="picture-pack">
					<a href="#">
						<img src="assets/images/contents/1.JPG" alt="content 1">
					</a>
				</div>
				<div class="picture-pack">
					<a href="#">
						<img src="assets/images/contents/1.JPG" alt="content 1">
					</a>
				</div>
				<div class="picture-pack">
					<a href="#">
						<img src="assets/images/contents/1.JPG" alt="content 1">
					</a>
				</div>
				<div class="picture-pack">
					<a href="#">
						<img src="assets/images/contents/1.JPG" alt="content 1">
					</a>
				</div>
				<div class="picture-pack">
					<a href="#">
						<img src="assets/images/contents/1.JPG" alt="content 1">
					</a>
				</div>
				<div class="picture-pack-more">
					<div>
						<a href="#">VIEW MORE</a>
					</div>
						<img src="assets/images/contents/1.JPG" alt="content 1">
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="clear"></div>

<div id="about">
	<div class="container-d">
		<div class="about-image">
			<img src="assets/images/materials/logo_igp.png" alt="logo web">
		</div>
		<div class="description-about">
			<div class="about-title">
				<h2><span class="color-red">About </span>Indonesia Game Portal</h2>
			</div>
			<div class="about-desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
			</div>
		</div>
	</div>
</div>

<div class="clear"></div>

<div id="player">
	<div class="container-d">
		<div class="leaderboard">
			<h3 class="top-player">Top Players</h3>
			<ul class="player-list">
				<li>
					<i class="fa fa-star"></i><a href="#">Rina Extellia (200XP)</a>
				</li>
				<li>
					<i class="fa fa-star"></i><a href="#">Rina Extellia (200XP)</a>
				</li>
				<li>
					<i class="fa fa-star"></i><a href="#">Rina Extellia (200XP)</a>
				</li>
				<li>
					<i class="fa fa-star"></i><a href="#">Rina Extellia (200XP)</a>
				</li>
				<li>
					<i class="fa fa-star"></i><a href="#">Rina Extellia (200XP)</a>
				</li>
			</ul>
		</div>
		<div class="player-desc">
			<h2>Do you want <span class="color-red">Play with other </span>and get top <span class="color-red">Player</span></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
			<form>
				<fieldset>
					<input type="text" name="player">
					<button><i class="fa fa-search"></i></button>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<div class="clear"></div>

<footer id="footer">
	<div class="top-footer">
		<div class="container-d">
			<div class="foot-img">
				<img src="assets/images/materials/logo_igp_white.png" alt="logo web white">
			</div>
			<div class="foot-subscribe">
				<h3>Subscribe to newsletter</h3>
				<form>
					<fieldset>
						<input type="text" name="subscribe">
						<button><i class="fa fa-envelope"></i></button>
					</fieldset>
				</form>
				<div class="follow">
					<span>Or follow us on : </span>
					<ul>
						<li>
							<a href="#"><img src="assets/images/materials/facebook.png" alt="facebook"></a>
						</li>
						<li>
							<a href="#"><img src="assets/images/materials/twitter.png" alt="twitter"></a>
						</li>
						<li>
							<a href="#"><img src="assets/images/materials/vimeo.png" alt="vimeo"></a>
						</li>
						<li>
							<a href="#"><img src="assets/images/materials/youtube.png" alt="youtube"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="button-footer">
		<div class="copyright">2017 Copyright - Indonesia Game Portal, All Right Reserved</div>
		<div class="designby">Design By : Renan nazar Brillian</div>
	</div>
</footer>


<div class="menu-gear">
	<i class="fa fa-gears menu-click"></i>
</div>

<div class="left-menu">
	<i class="fa fa-close"></i>
	<h2>Menu Website</h2>
	<ul>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">About</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
		<li>
			<a href="#">FAQ</a>
		</li>
		<li>
			<a href="#">Players</a>
		</li>
	</ul>
</div>

</body>
</html>