<!DOCTYPE html>
<html>
<head>
	<title>Register IGP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/register.css">
	<link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
	<script type="text/javascript" src="assets/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
</head>
<body>

<div id="left-page">
	<div class="register-title">
		<img src="assets/images/materials/logo_igp.png" alt="logo web">
		<h2><span class="color-red">Sign</span> Up</h2>
		<div class="clear"></div>
		<p>Enter and fill out your data include username and email address to join Indonesia Game Portal</p>
	</div>
	<div class="clear"></div>
	<form>
		<div class="data-reg">
			<div class="form-group">
				<fieldset class="fieldset-form input-error">
					<input type="text" name="name" placeholder="Your Name">
					<i class="fa fa-close error-close"></i>
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset class="fieldset-form">
					<input type="text" name="username" placeholder="username">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset class="fieldset-form input-error">
					<input type="email" name="email" placeholder="email">
					<i class="fa fa-close error-close"></i>
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset class="fieldset-form">
					<input type="password" name="password" placeholder="password">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset class="fieldset-form">
					<input type="text" name="date" placeholder="Date of Birth">
				</fieldset>
			</div>
			<div class="form-group">
				<fieldset class="fieldset-form">
					<input type="text" name="phone" placeholder="Phone Number">
				</fieldset>
			</div>

			<div class="form-picture">
				<label>Profil Picture</label>
				<label class="ofcourse">
					<input type="file" name="image">
					<br>
					<span>Select File</span> Photo profile
				</label>
			</div>
			<div class="form-captcha">
				<label>Enter Captcha</label> <br>
				<div class="captcha">
					<img src="assets/images/materials/capctha.png" alt="chapctha">
				</div>
				<input type="text" name="chapctha">
			</div>

			<div class="clear"></div>

			<div class="display-error">
				<span>Error : Name, Email. Please check your data again</span>
			</div>

		</div>

		<div class="bbb">
			<div class="already">
				<p>Already have an account? <a href="#">click here</a> to login</p>
			</div>

			<div class="btn-submit">
				<button class="btn-reg">Register</button>
			</div>
		</div>
	</form>
</div>

<div id="right-page">
	<div class="img-reg">
		<img src="assets/images/materials/logo_igp_white.png" alt="logo web white">
	</div>
</div>

</body>
</html>